
:root {

  /* HSL Colors -- For Transparency use hsla( var(--clr-pri-3), 0.5 ); */
  --clr-primary-1 : 200, 45%, 95%;
  --clr-primary-2 : 200, 45%, 90%;
  --clr-primary-3 : 200, 45%, 80%;
  --clr-primary-4 : 200, 45%, 65%;
  --clr-primary-5 : 200, 45%, 50%;
  --clr-primary-6 : 200, 45%, 25%;
  --clr-primary-7 : 200, 45%, 10%;

  --clr-secondary-1 : 130, 84%, 98%;
  --clr-secondary-2 : 130, 84%, 90%;
  --clr-secondary-3 : 130, 84%, 80%;
  --clr-secondary-4 : 130, 84%, 65%;
  --clr-secondary-5 : 130, 84%, 50%;
  --clr-secondary-6 : 130, 84%, 25%;
  --clr-secondary-7 : 130, 84%, 10%;

  --clr-tertiary-1 : 0, 84%, 98%;
  --clr-tertiary-2 : 0, 84%, 90%;
  --clr-tertiary-3 : 0, 84%, 80%;
  --clr-tertiary-4 : 0, 84%, 65%;
  --clr-tertiary-5 : 0, 84%, 50%;
  --clr-tertiary-6 : 0, 84%, 25%;
  --clr-tertiary-7 : 0, 84%, 10%;

  /* Font Sizes OLD */    
  /* --font-size-0 : clamp(0.7rem, 1vw, 1rem);
  --font-size-1 : clamp(0.9rem, 1.5vw, 1.2rem);
  --font-size-2 : clamp(1.05rem, 2vw, 1.8rem);
  --font-size-3 : clamp(1.25rem, 2.7vw, 2.4rem);
  --font-size-4 : clamp(1.5rem, 4vw, 3rem);
  --font-size-5 : clamp(1.75rem, 5vw, 3.5rem);
  --font-size-6 : clamp(2rem, 6vw, 4rem);
  --font-size-7 : clamp(2.25rem, 7vw, 5rem); */

  /* Font Sizes */    
  --font-size-0 : clamp(0.7rem, 1vw, 0.9rem);
  --font-size-1 : clamp(0.9rem, 1.5vw, 1.1rem);
  --font-size-2 : clamp(1.2rem, 2vw, 1.6rem);
  --font-size-3 : clamp(1.7rem, 2.7vw, 2.1rem);
  --font-size-4 : clamp(2.2rem, 4vw, 2.6rem);
  --font-size-5 : clamp(2.6rem, 5vw, 3.2rem);
  --font-size-6 : clamp(3.2, 6vw, 3.6rem);
  --font-size-7 : clamp(3.7rem, 7vw, 4.1rem);

  /* Fonts */
  --font-default : Poppins, Helvetica, Arial, sans-serif;

  /* Link Colors */
  --default-link-clr : var(--clr-primary-5);
  --default-link-hover-clr : var(--clr-secondary-4);

  --nav-link-clr : var(--clr-primary-2);
  --nav-link-hover-clr : var(--clr-secondary-4);

  /* Global/Default Elements */
  --body-bg-clr : 0, 0%, 100%;

  /* Margin/Padding defaults */
  --spacing-x-default : 2vw;
  --spacing-y-default : 3rem;

  /* Container Widths */
  --width-xs : 750px;
  --width-sm : 900px;
  --width-df : 1300px;
  --width-lg : 1600px;
  
}